extends clients-base

include _pagination.pug

mixin feedPostCard()
  .menu-body-item-content 
    .item-content 
      .item-name-content 
        img(src=`/uploads/users/${ user && user.photo ? user.photo : 'default.png'}`, alt=`Photo of ${user && user.name ? user.name : "admin"}`, onerror="this.src='/uploads/users/default.png'")
        .item-inform
          h4 Content Title 1 
          h5 01 Jan 2024
      p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sapiente sequi incidunt omnis laboriosam dolorum nesciunt, molestiae odit commodi corporis, quis est deleniti illum eos atque aliquam nam laborum neque.
      button.read-more-btn  Read more!
      .item-read-more 
        button.item-close-btn x
        .item-read-more-content
          p.item-read-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nisi neque debitis sapiente distinctio cum, asperiores culpa corporis rerum saepe minima atque, excepturi tempora fuga necessitatibus aperiam. Quaerat, deserunt consequuntur.
      img(src="/uploads/blogs/news-1.jpg" alt="")
      .item-name-button 
        button Like




block content
  main
    article
      section.section.aboutUs(aria-label="our latest aboutUs" id="aboutUs")
        .about-Us
          .profile-card
            .card-top
              img(src=`/uploads/users/${user ? user.photo : 'user-1.jpg'}` alt=`Photo of ${user ? user.name : 'Default User'}`)
              .card-top-inner
                .card-top-info 
                  .card-top-name
                    h2= `${user ? user.name : 'Nnodimele Udodirim'} 💡`
                    p Senior Web Engineer. Creative Developer.
                  .card-top-date 
                    span August 19th
                    span.mx-2 •
                    span Joined Jan 2023
                .text-muted-p
                  p.text-muted= `${user ? user.bio : 'Nnodimele Udodirim'}`
                  p.text-muted Brings ideas to life with code! ✨
                  p.text-muted Content Creator. Whimsical Specialist. International Speaker. Ex-Google.
                p.text-muted Keep up to date with my latest projects and adventures!

            if socials
              .follow-btn
                a(href=`https://twitter.com/${socials.twitter}` target="_blank" aria-label="follow-btn")
                  i.fa.fa-twitter
                a(href=`https://t.me.com/${socials.telegram}` target="_blank" aria-label="follow-btn")
                  i.fa.fa-telegram
                a(href=`https://youtube.com/${socials.youtube}` target="_blank" aria-label="follow-btn")
                  i.fa.fa-youtube
                a(href=`https://facebook.com/${socials.facebook}` target="_blank" aria-label="follow-btn")
                  i.fa.fa-facebook
                a(href=`https://whatsapp.com/channel/${socials.whatsapp}` target="_blank" aria-label="follow-btn")
                  i.fa.fa-whatsapp

        .menu-opt 
          .menu-top
            button.menu-bottom.active Me
            button.menu-bottom Testimonies
            button.menu-bottom Contents
          .menu-body
            .menu-body-item.active-item
              .menu-body-item-content 
                p Content for Me

            .menu-body-item
              .menu-body-item-content 
                p Content for Testimonies
            .menu-body-item
              +feedPostCard()
              +feedPostCard()
              +feedPostCard()
              +feedPostCard()
              +feedPostCard()

              +paginate('blog', 2, 5)
              //- +paginate('admin/messages', page, pages)



