extends admin-base

block content
  main.admin-main
    h2 Dashboard 
    section#dashboard
      .info 
        img(src=`/uploads/users/${user.photo}` alt=`Photo of ${user.name}`)
        .cards
          p= `Name: ${user.name}` 
          p= `Username: ${user.username}` 
          p= `Email: ${user.email}` 
          p= `User Role: ${user.role}` 


      .top 
        h2.traffic Traffics
        .top-inner
          .box
            p Daily 
            h3#dailyCount Loading...
            .detailed#daily
              span 0
            i.fas.fa-user-tie
          .box
            p Monthly 
            h3#monthlyCount Loading...
            .detailed#monthly
              span 0
            i.fas.fa-user-tie
          .box
            p All Time 
            h3#allTimeCount Loading...
            .detailed#allTime 
              span 0
            i.fas.fa-user-tie

      .two
        .box
          h3#dailyCountTwo Loading...
          p Daily Traffic
          i.fas.fa-user-tie
        .box.big
          h3#monthlyCountTwo Loading...
          p Monthly Traffic
          i.fas.fa-shopping-cart

      .three 
        .box
          h3#allTimeCountThree Loading...






