extends clients-base

block content
  .container.post-single
    main
      article#the-article
        .post-meta
          h1#post-title.h2= post.title
          .post-meta-inner
            - const releasedAt = new Date(post.createdAt).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
            span.post-date= `Posted on: ${releasedAt}`
            span.post-author= `By: ${post.author.name}`
            span= `Category: ${post.category.name}`
            span.post-views= `Views: ${post.views}`
            span.post-comments= `Comments: ${post.comments ? post.comments.length : 0}`
            //- span.post-likes= `Likes: ${post.likes.length}`
            //- span.post-dislikes= `Dislikes: ${post.dislikes.length}`
        img.post-cover(src=`/uploads/blogs/${post.photo}`, alt=`the cover photo of ${post.title}`)
        #post-content
          != post.content

        .my-4
          h2 Tags
          - const tags = Array.isArray(post.tags) ? post.tags : (post.tags ? post.tags.split(',') : [])
          if tags.length
            ul
              each tag in tags
                li.tag 
                  a(href='#', title=tag)= tag.trim()

        .feedback
          p
            | Did You Find This Content Helpful?
            button.like-btn(aria-label='like' data-id=`${post._id}`) 
              i.fa.fa-thumbs-up
            button.dislike-btn(aria-label='Dislike' data-id=`${post._id}`) 
              i.fa.fa-thumbs-down

      aside#related-posts
        h2 Related Posts
        ul.related-posts
          if relatedPosts && relatedPosts.length
            each relatedPost in relatedPosts
              li: a(href=`/blog/${relatedPost.slug}`)= relatedPost.title
          else
            li No related posts found.

        h2 Popular Posts
        ul.popular-posts
          if popularPosts && popularPosts.length
            each popularPost in popularPosts
              li: a(href=`/blog/${popularPost.slug}`)= popularPost.title
          else
            li No popular posts found.


    section.recent-post-container
      h2 Recently Added Posts
      .recent-post
        if recentPosts && recentPosts.length
          each recentPost in recentPosts
            .recent-post-inner
              a(href=`/blog/${recentPost.slug}`)
                img(src=`/uploads/blogs/${recentPost.photo}`, alt=recentPost.title)
                h2.recent-post-title= recentPost.title
        else
          p No recent posts available.

    section#comments
      .container
      h2 Leave a Comment
        form#comment-form(data-post-id=`${post._id}`)
          label(for='commenter-name') Name:
          input#commenter-name(type='text' name='name' required)
          label(for='email') Your Email:
          input#email(type="email" name="email" required)
          label(for='comment') Comment:
          textarea#comment(required, maxlength='1000' name='comment')
          button(type='submit' class="btn") Submit
          p#character-counter 1000/1000

        .commentsLists
          h2 Comments
          .comment-out
            if post.comments && post.comments.length
              each comment in post.comments
                - const initials = comment.name.split(" ").map(n => n[0].toUpperCase()).join("");
                .comment-card
                  .comment-img= initials
                  .textBox
                    .commentContent
                      p.commenter= comment.name
                      - const releasedAt = new Date(comment.createdAt).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
                      span.spanDate= `${releasedAt}`
                    p.comment-main= comment.comment
            else 
              .no-comments
                p No comments yet. Be the first to comment!
