extends clients-base 

mixin reviewCard(review) 
  .card 
    .review-header 
      .user-info 
        p.username= review.name
        - const releasedAt = new Date(review.createdAt).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
        p.date= `${releasedAt}`
    .title-rating 
      if review.title
        h3.title= review.title 
      .rating 
        each star in [1, 2, 3, 4, 5] 
          i.fa.fa-star.star(class= review.rating >= star ? 'filled' : '')
    if review.review
      .description= review.review


block content
  main
    article
      section.section.market(aria-label="our latest market")
        .container
          .app-container
            .course-container
              .course-header
                h1= item.name
                p= item.description
                .app-ratings
                  span 4.7
                  - const rating = 4
                  .rating
                    each star in [1, 2, 3, 4, 5]
                      i.fa.fa-star.star(class= rating >= star ? 'filled' : '')
                  span= `${item.ratingsQuantity} reviews `

              .course-subscription
                button.subscribe#view-download lorem
                button.buy#buy-now-btn= `Get for $${item.price}`
            .course-overview
              h2 App Features
              ul
                li Beginner to Pro
                li 12 hours of HD video
                li 200 lessons
                li Downloadable content
                li Hands-on exercises
                li English captions
                li Certificate of completion
                li Lifetime access
                li Learn at your own pace

          .purchase-form-container 
            form#purchase-form.purchase-form(data-item-id=item._id data-price=item.price)
              .close-container
                button#close-pay-btn(type="button") x 
              .form-group
                label(for="name") Name 
                input#name(type="text", required)
              .form-group
                label(for="email") Email 
                input#email(type="email", required)
              .form-group
                button#pay-it(type="submit" class="pay")= `Pay $${item.price}`

          .verify-to-download-form 
            form.access-download(data-purchased-item-id=item._id)
              button(type="button" id="otp-close") x
              .title Email 
              .title Verification
              .message Please enter the email you used when making the purchase
              .inputs 
                input(id="verify-email" type="email" autofocus) 
              button(type="submit" class="action") Verify me

          if item.reviews.length > 0
            .review 
              each review in item.reviews
                +reviewCard(review)
              if item.reviews.length > 9 
                .card.all-reviews
                  button(type='button') SEE ALL

  script(src="https://checkout.flutterwave.com/v3.js")
